@import '../../Styles/Base';

.content-feed {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    align-self: flex-start;
}


