@import '../../Styles/Base';


.profile-header-container {
    display: flex;
    flex: 2 0 0;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    // margin: 20px;
    background-color: white;
    padding: 50px;
    // border-radius: 45px;
    align-items: flex-start;
    border: $border-weight;
    border-top: none;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    // height: 40%;


    .profile-img {
        border-radius: 100%;
        justify-self: center;
        margin-bottom: 40px;
        background-color: grey;
    }

    .avatar {
        width: 75px;
        height: 75px;
        margin-top: 25px;
        margin-bottom: 75px;
    }

    .profile-details {
        display: flex;
        flex-direction: column;
        flex: .4 1 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        // margin-top: 370px;
        text-align: left;
        box-sizing: border-box;
        align-items: flex-start;

        .profile-name {
            font-size: large;
            flex: .2 0 0;
            font-weight: bold;
        }

        .profile-username {
            display: flex;
            flex: .2 0 0;
            font-size: 1.1rem;
            font-style: italic;
            font-weight: bold;
            margin: 0;
            margin-bottom: 5px;
        }

        .profile-intro {
            display: flex;
            flex: 1 0 0;
            font-size: 1rem;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0;
            margin-bottom: 5px;
        }

        p {
            font-size: 1rem;
            margin: 0;
            margin-bottom: 5px;
        }
    }
}