.stats-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    background-color: white;
    border-radius: 35px;
    border: .3px solid black;
    padding: 20px;
    margin-top: 20px;
    height: 14.5%;
    width: 100%;
}