$primary-color: #eeaf49;
$secondary-color: #ffdcb6a4;
$background-color: white;

$primary-text-color: #000000;
$secondary-text-color: #8d8d8d;

$border-weight: .3px solid rgb(169, 169, 169);

$background-color-secondary: rgba(222, 222, 222, 0.35);

// Use the twitter font
$primary-font: 'Roboto', sans-serif;